<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>907297647147-vnlds2b5o419s3ti0cqjj3t1hf7go37m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.907297647147-vnlds2b5o419s3ti0cqjj3t1hf7go37m</string>
	<key>API_KEY</key>
	<string>AIzaSyBm3EwCvXuuVpDX1GqyQDH6IslgtDS2XD4</string>
	<key>GCM_SENDER_ID</key>
	<string>907297647147</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.android.application</string>
	<key>PROJECT_ID</key>
	<string>marine-a6ffd</string>
	<key>STORAGE_BUCKET</key>
	<string>marine-a6ffd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:907297647147:ios:82be034554491fde81986e</string>
</dict>
</plist>